

html{
    background-color:white;
}
.wrap{
    width:85%;
    margin:auto;
}
#top-row{
    display:flex;
    background-color:rgba(0,0,0,.3);
    color:white;
    flex-direction:row;
    height:75px;
    justify-content:space-between;
    /*padding:0px 25px;*/
    position:fixed;
    width:100%;
    margin-top:0px;
    
}
#top-row div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0px 25px;
}
#title-row{
    display:flex;
    flex-direction:column;
    height:250px;
    background:url(2016-01-Life-of-Pix-free-stock-photos-architecture-details-city-MacNicolae.jpg);
    background-attachment: fixed;
    background-size: 700px;
    
}
#title-row-AboutUs{
    
    height:250px;
    background:url(AB%20office%20photo.jpg);
    background-attachment:fixed;
    background-size: 700px;
}
.company-info{
    
}
#top-picture{
    width:200px;
    height:50px;
    background-color:lightgray;
}
.nav-bar{
    display:flex;
    margin-top:1em;
    
}
.nav-bar div{
    display:block;
    width:300px;
    /*padding:.25em 1em;*/
    background-color:rgba(255,255,255,.7);
    height:3em;
    margin:.1em .25em;
    border-radius: 0px;
    -webkit-transition: color .7s;
            -moz-transition:    color .7s;
            -ms-transition:     color .7s;
            -o-transition:      color .7s;
            transition:         background-color .7s;
}
.nav-bar div:hover{
    background-color:white;
}

.nav-bar a{
    display:block;
    padding:.7em;
    /*margin:.69em 0em;*/
    font-size: .85em;
    color:black;
    text-decoration: none;
    
    -webkit-transition: color .7s;
            -moz-transition:    color .7s;
            -ms-transition:     color .7s;
            -o-transition:      color .7s;
            transition:         color .7s;
}
.nav-bar a:hover{
    
}

.nav-bar img{
    width:100%;
    height:100%;
}

.wrap div{
    margin:2em 0em;
}
.column1{
    display:flex;
    width:100%;
    justify-content: space-around;
    padding:0em 1em;
    
}
.column1 img{
    border: 1px solid black;
    width:50%;
    height:100%;
}

.column2{
    width:100%;
    padding:0em 1em;
}
.column2 h1{
    margin-top:0;

}


.column-general{
    display:block;
    
    width:100%;
    padding:0em 1em;
}
.column-general h1{
    margin-top:0;

}
.column-general img{
    width:50%;
    float:right;
}

footer p{
    color:white;
    width:85%;
    margin:auto;
    font-size:.75em
}
footer{
    padding: 2em;
    background-color: darkcyan;
}

@media(min-width:760px){
    .wrap{
        display:flex;
    flex-direction: row;
    justify-content: space-between;
    }
    #top-picture{
        height:100px;
        width:400px;
        
    }
    #title-row-AboutUs{
    display:flex;
    height:600px;
    justify-content: flex-start;
    background-position: 0px -160px;
    background-size: cover;
    
        
        
}
    
    #title-row{
    display:flex;
    height:600px;
    justify-content: flex-start;
    background-position: 0px -160px;
    background-size: cover;
    
        
        
}
    .nav-bar a{
    font-size: 1.15em;
    color:black;
    text-decoration: none;
}
    .nav-bar{
        flex-direction: column;
        margin: 12em 5em 1em 5em;
        margin-bottom:1em;
        margin-right:5em;
    }
    .column1{
    display:flex;
    width:40%;
    
}
    .column1 img{
        width:100%;
    }
    #top-row{
     height:150px;  
    
    }

.column2{
    width:60%;
}
}
@media(min-width:1050px){
    .column1{
    display:flex;
    width:30%;
    
}
    

.column2{
    width:70%;
}

.column-left{
    width:100%;
}
    
/*#title-row-AboutUs{
    height:450px;
    background:url(AB%20office%20photo.jpg) 0;
    background-attachment: fixed;
    background-size: cover;
}
}