

html{
    background-color:#FFFCEE;
}
.wrap{
    width:85%;
    margin:auto;
}
#top-row{
    display:flex;
    background-color:darkcyan;
    flex-direction:row;
    height:75px;
    justify-content:space-between;
    /*padding:0px 25px;*/
    /position:fixed;
    width:100%;
}
#top-row div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0px 25px;
}
#title-row{
    height:250px;
    background:url(2016-01-Life-of-Pix-free-stock-photos-architecture-details-city-MacNicolae.jpg);
    background-attachment: fixed;
    background-size: contain;
    
}
#title-row-AboutUs{
    height:250px;
    background:url(AB%20office%20photo.jpg);
    background-attachment:fixed;
    background-size: contain;
}
.company-info{
    
}
#top-picture{
    width:200px;
    height:50px;
    background:#FFFCEE;
}
.nav-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-top:1em;
}
.nav-bar div{
    display:flex;
    padding:.25em 1em;
    flex-direction:column;
    justify-content: space-around;
    background-color:transparent;
    flex-basis:1000px;
    height:3em;
    margin:0em .25em;
    border-radius: 8px;
}

.nav-bar a{
    font-size: .85em;
    color:white;
    margin:auto;
    text-decoration: none;
}

.nav-bar img{
    width:100%;
    height:100%;
}

.wrap div{
    margin:1em 0em;
}
.column1{
    display:flex;
    width:100%;
    justify-content: space-around;
    padding:0em 1em;
    
}

.column2{
    width:100%;
    padding:0em 1em;
}
.column1 img{
    border: 1px solid black;
    width:50%;
    height:100%;
}
.column2 h1{
    margin-top:0;

}
footer p{
    color:white;
    width:85%;
    margin:auto;
    font-size:.75em
}
footer{
    padding: 2em;
    background-color: darkcyan;
}

@media(min-width:760px){
    .wrap{
        display:flex;
    flex-direction: row;
    justify-content: space-between;
    }
    #top-picture{
        height:100px;
        width:400px;
        
    }
    #title-row, #title-row-AboutUs{
    display:flex;
    height:450px;
    justify-content: space-around;
    background-position: fixed;
    background-size: cover;
        
}
    
    .nav-bar a{
    font-size: 1.15em;
    color:white;
    margin:auto;
    text-decoration: none;
}
    .nav-bar{
        flex-direction: column;
        
    }
    .column1{
    display:flex;
    width:40%;
    
}
    .column1 img{
        width:100%;
    }
    #top-row{
     height:150px;  
    
    }

.column2{
    width:60%;
}
}
@media(min-width:1050px){
    .column1{
    display:flex;
    width:30%;
    
}
    

.column2{
    width:70%;
}
    #title-row-AboutUs{
    height:450px;
    background:url(AB%20office%20photo.jpg) 0;
    background-attachment: fixed;
    background-size: cover;
}
}